/*  */

.scrollingPXcon {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective-origin: 30% 30%;
  perspective: 1000px;
}

.ParallaxContainer {
  position: relative;
  z-index: -1;
  /* Not Relevant for the effect */
  margin: 0 auto;
  height: 50vh;
  display: flex;
  align-items: flex-end;
}

.perspective3d {
  pointer-events: none; /* Lets you click trough the element. */
  transform-style: preserve-3d; /* Enables the 3D perspective no the children of this container. */
}

.mainBG {
  transform: translateZ(-500px) scale(2);
  background-image: linear-gradient(purple, red, blue);
  height: 100%;
}

.main2 {
  transform: translateZ(-400px) scale(1.6);
}

.mainFG {
  transform: translateZ(-200px) scale(1.8);
}

.mainBG,
.main2,
.mainFG {
  position: absolute;
  width: 100%;
  background-size: cover;
}

/* Box */

.boxContainer {
  height: 500px;
  width: 500px;
}

.box {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.099);
  height: 100%;
  width: 100%;
  backface-visibility: visible;
  /* Not Relevant for the effect */
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  transform: translateZ(500px);
  background-color: rgba(137, 43, 226, 0.338);
}
.back {
  transform: rotateY(-180deg);
  background-color: rgba(43, 226, 113, 0.338);
}

.right {
  transform: rotateY(90deg) translateX(-250px);
  left: 250px;
  background-color: rgba(0, 0, 255, 0.199);
}
.left {
  transform: rotateY(-90deg) translateX(250px);
  right: 250px;
  background-color: rgba(255, 0, 0, 0.199);
}

.up {
  bottom: 250px;
  transform: rotateX(90deg) translateY(250px);
}
.down {
  top: 250px;
  transform: rotateX(-90deg) translateY(-250px);
}

/* Not Relevant for the effect */
.PSBoxCon {
  position: relative;
  height: 1000px;
  padding: 3rem;
  background-color: #333;
}

.PSBGCon {
  border: 30px solid #333;
}

@media screen and (min-width: 790px) {
  .main2 {
    transform: translateZ(-400px) scale(0.6) translateY(20vw);
  }

  .mainFG {
    transform: translateZ(-200px) scale(0.7) translateY(20vw);
  }
}
